* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {

  height: 100vh;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: green;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  center-items: center;

}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ccc;
  height: 100%;
  position: fixed;

}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.sidebar-list li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  border: #ccc 4px solid;
  width: 150px;
  display: flex;
  justify-content: center;
  background-color: white;

}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #8a7c7c;
  display: grid;
  gap: 10px;

}

.quantity-label {
  width: 60px;
  padding: 0.25rem;
  margin-left: 0.5rem;
  color: #3eff0d;
}

.products-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.product-selector {
  margin-left: 220px;
  /* To avoid overlap with sidebar */
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(119, 199, 99);

}

.order-summary {
  margin-left: 220px;
  /* To avoid overlap with sidebar */
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-summary h2 {
  margin-bottom: 1rem;
  color: #333;
  margin-left: 220px;
}

.ajouter-product {
  background-color: #77c763;
  margin-left: 220px;
  color: white;
  border: none;
  padding: 2rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-items: center;


}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-form label {
  font-weight: bold;
  color: #333;
}

.product-form input {
  padding: 0.5rem;
  border: 3px solid #8a7c7c;
  border-radius: 4px;
}

.buttonadd {
  background-color: #8a7c7c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}